
@media only screen and (max-width: 995px) {

header {
	height: 100vh;	
}
header .banner-text h1 {
    font: 57px/1.1em 'opensans-bold'; 

}
	#about {
		text-align: center;
		padding: 30px;
	}

	.contact-details {
		text-align: center;
		float: none;
	}

	#resume {
		text-align: center;
	}

	#portfolio-wrapper img {
		width: 400px;
		height: 250px;
	}

	.col-sm-6 {
		text-align: center;

	}

}

@media only screen and (max-width: 840px){
	#portfolio-wrapper img {
		width: 300px;
		height: 200px;
	}
}

@media only screen and (max-width: 660px) {

	header .banner-text h1 {
    font: 40px/1.1em 'opensans-bold'; 
}
	#nav-wrap {
	  
	    letter-spacing: 0px;
	    font-size: 10px;
	  
	}

	.row {
	margin-right: -20px !important;
	margin-left: -20px !important;}

	#portfolio-wrapper img {
		display: inline-block;
		width: 350px;
		height: 200px;
	}

	.col-sm-6 {
		margin-left: 20%;
		margin-bottom: 20px;
		text-align: center;
	}

	#portfolio-wrapper {
		height: 100vh;
	}

	.columns {
		float: none;
		text-align: center !important;
	}

	.portfolio-item {
		margin-bottom: 20px;
	}


header .social {
    font-size: 34px;
    margin:  95%  0!important;
}
	footer .social-links {
		font-size: 25px;
		height: 20vh;

	}
}


@media only screen and (max-width: 480px) {

	header .banner-text h1 {
    font: 29px/1.1em 'opensans-bold'; 
}


	#about  {
		
		text-align: center !important;
	}

	header .social {
    font-size: 26px;
    margin: 27vh 0!important;
}

#portfolio-wrapper img {
		display: inline-block;
		width: 80%;
		height: 150px;
	}

	footer .social-links {
		font-size: 25px;
		margin-bottom: 0px;
	}
		.row {
			margin-bottom: 0px;
		}
	}
	}